<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <div class="span3">
                <center>
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></img>
                    <h3 class="media-heading"><%= @user.profile.first_name %> <%= @user.profile.last_name %>  
                    </br><small><%= @user.profile.job_title %></small></h3>
                    <% if current_user.plan_id == 2 %>
                        <span><strong>Contact Details: </strong></span>
                        <span class="label label-warning"><%= @user.profile.contact_email %></span>
                        <span class="label label-info"><%= @user.profile.phone_number %></span>
                    <% end %>
                    </center>
                    <hr>
                <center>
                    <p class="text-left text-justify"><strong>Bio: </strong><br>
                    <%= @user.profile.description %></p>
                    <br>
                    <% if current_user.plan_id != 2 %>
                        <div class="modal-footer">
                            <center>
                                <p>Not showing your Contact Details!.</p><button type="button" class="btn btn-default" data-dismiss="modal">Know More!</button>
                            </center>
                        </div>
                    <% end %>
                </center>
            </div>
        </div>
    </div>
</div>